.header {
    height: 7rem;
    background-color: var(--color-white);
    border-bottom: var(--border-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $small-font-size;

    @include respond(phone-small) {
        flex-wrap: wrap;
        height: 11rem;
        align-content: space-around;
        justify-content: space-around;
    }
}