.paragraph:not(:last-of-type) {
    margin-bottom: 2rem;
}

.overview__heading {
    font-size: $medium-font-size;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.review__user-name {
    font-size: $little-font-size;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .4rem;
}

.review__user-date {
    font-size: $review-font-size;
    color: var(--color-grey-dark-3);
}

.review__rating {
    color: var(--color-primary);
    font-size: $medium-font-size;
    font-weight: 300;
}

.cta {
    text-align: center;

    &__book-now {
        text-transform: uppercase;
        font-weight: 300;
        margin-bottom: 2.5rem;
        font-size: 2rem;
    }
}