.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;

    @include respond(tab-land) {
        margin: 0;
        max-width: 100%;
        width: 100%;
        margin-bottom: 0;
    }
}

.content {
    display: flex;

    @include respond(tab-port) {
        flex-direction: column;
    }
}

.hotel-view {
    flex: 1;
    background-color: var(--color-white);
}

.detail {
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--border-grey);
    font-size: $small-font-size;

    @include respond(tab-port) {
        padding: 3rem;
    }

    @include respond(phone) {
        flex-direction: column;
    }
}

.description {
    background-color: var(--color-white);
    box-shadow: var(--shadow-blur);
    flex: 0 0 60%;
    margin-right: 4.5rem;
    padding: 3rem;

    @include respond(tab-port) {
        padding: 2rem;
        margin-right: 3rem;
    }

    @include respond(phone) {
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

.user-reviews {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta {
    padding: 3.5rem 0;

    @include respond(tab-port) {
        padding: 2.5rem 0;
    }
}

